*.o
/fj_testdir_*
/runresult.*.json
/fib_test
/mergesort
/nqueens
/psum_test
/quicksort
/simpson
/threadpool_test
/threadpool_test2
/threadpool_test3
/threadpool_test4
/threadpool_test5
/threadpool_test6
/threadpool_test7
/threadpool_test8
/threadpool_test9
